In [2]:
#Lets import necessary libraries for our work
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import *
import time
import requests
import pandas as pd
import re
from selenium.webdriver.support import  expected_conditions as ec

1.Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A)Rank
B)Name
C)Artist
D)Upload date
E)Views

In [2]:
#setting the url variable to the link through which we want to scrape
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

#getting the companents of the page to scrape the details
page = requests.get(url)

#parsing the html data using html parser
soup = BeautifulSoup(page.content, 'html.parser')

#printing the most viewed title of the table
print(soup.title.text)

#here we ar finding the table tags there are many tables in the we page we only need one table
#so i will find that one by indexing we can see here
table = soup.find_all('table', class_="wikitable sortable")[0]

#actually there are many methods for extracting tables from the website here 
#i am using panda method for extracting the table usign the method pd.read_html()
#and conerting te minto string so that we can convert the table
dfs = pd.read_html(str(table))[0]


dfs = dfs.drop(30, axis = 0) # we have column which makes no sence and we droped it using drop()
dfs = dfs.set_index('No.') #setting the index of rank of the videos
df = dfs.drop(["Note", "Unnamed: 6"], axis = 1)#and we have two unwanted columns and we dropped them
df #displaying the data

List of most-viewed YouTube videos - Wikipedia

,Video name,Uploader,Views (billions),Upload date
No.,,,,
1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.71,"June 17, 2016"
2.,"""Despacito""[24]",Luis Fonsi,7.38,"January 12, 2017"
3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.41,"October 8, 2016"
4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
7.,"""Uptown Funk""[31]",Mark Ronson,4.19,"November 19, 2014"
8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.12,"February 27, 2018"
9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.10,"May 2, 2018"
10.,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.90,"March 6, 2014"
12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
14.,"""Dame Tu Cosita""[39]",El Chombo,3.37,"April 5, 2018"
15.,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
16.,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.26,"October 7, 2014"
18.,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
19.,"""Faded""[44]",Alan Walker,3.07,"December 3, 2015"
20.,"""Shake It Off""[45]",Taylor Swift,3.06,"August 18, 2014"
21.,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,3.05,"May 24, 2018"
22.,"""Lean On""[47]",Major Lazer,3.04,"March 22, 2015"
23.,"""Bailando""[48]",Enrique Iglesias,3.04,"April 11, 2014"
24.,"""Girls Like You""[49]",Maroon 5,3.04,"May 31, 2018"
25.,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
26.,"""Mi Gente""[51]",J Balvin,2.92,"June 29, 2017"
27.,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
28.,"""Hello""[53]",Adele,2.84,"October 22, 2015"
29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
30.,"""Axel F""[55]",Crazy Frog,2.82,"June 16, 2009"

2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A)Match title (I.e. 1stODI)
B)Series
C)Place
D)Date
E)Time
Note: -From bcci.tv home page you have reach to the international fixture page through code.

In [14]:
#getting the information of driver for accesig the driver for automation
driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')

#naviagting to the url
driver.get('https://www.bcci.tv/')


#Getting required dropdown using this webelement
driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]").click()


#after dropdow shown up we have to go to fixture to go to that page
driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

#setting the url variable to the link through which we want
url = driver.current_url

#getting the companents of the page to scrape the details
#This is the new url which the current page is and we want it to scrape the currrent page
page = requests.get(url)

#parsing the html data using html parser
soup = BeautifulSoup(page.content, 'html.parser')

#printing the most viewed title of the table
print(soup.title.text)

#creating the empty list for storing the data
series = []
Date = []
Time = []
match_title = []
place = []

#first thing here i am going to use list indexing so thta we can use that to divivde the list for iur desired results
#getiing title and place details from the page
p_t = []
t_p = soup.find_all('p', class_="fixture__additional-info") 
for i in t_p:
    p_t.append(i.text.split("\n"))
    
for i in p_t:
    match_title.append(i[1]) #here i am using indexing from same list dividing two other details
    place.append(i[2])

#now gathering details for the series
seri = soup.find_all('span', class_="u-unskewed-text fixture__tournament-label u-truncated")
for i in seri:
    series.append(i.text)
    

#getting details for time
time = soup.find_all("span", class_ ="fixture__time")
for i in time:
    Time.append(i.text.strip().replace("\n", " "))
    
#atlast getting details for the date
dat = []
d = soup.find_all("div", class_='fixture__datetime desktop-only')
for i in d:
    dat.append(i.text.replace("\n", " "))

for i in dat:
    Date.append(i[:-14])
    
#Now lets create database to store the data that we have collected
icc = pd.DataFrame({})
icc["Match_Title"] = match_title
icc["Series"] = series
icc["Date"] = Date
icc["Time"] = Time
icc["Place"] = place

#saving the dataframe to csv
icc.to_csv("icc.csv")

#displaying results
icc

The Board of Control for Cricket in India

,Match_Title,Series,Date,Time,Place
0,Final,ICC World Test Championship,Friday 18 June,15:00 IST,"The Ageas Bowl, Southampton"
1,1st Test,England v India 2021,Wednesday 04 August,15:30 IST,"Trent Bridge, Nottingham"
2,2nd Test,England v India 2021,Thursday 12 August,15:30 IST,"Lord's, London"
3,3rd Test,England v India 2021,Wednesday 25 August,15:30 IST,"Headingley, Leeds"
4,4th Test,England v India 2021,Thursday 02 September,15:30 IST,"The Oval, London"
5,5th Test,England v India 2021,Friday 10 September,15:30 IST,"Old Trafford, Manchester"

3.Scrape the details of selenium exception from guru99.com.
Url= https://www.guru99.com/You need to find following details:
A)Name
B)Description
Note: -From guru99 home page you have to reach to selenium exception handling page through code.

In [7]:
#getting the information of driver for accesig the driver for automation
driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')

#naviagting to the url
driver.get('https://www.guru99.com/')

#now from there we have to navigate to selenium page
driver.find_element_by_xpath("/html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]/a").click()

time.sleep(2)

#closing the button for going further
driver.find_element_by_xpath("//*[@id='cbox']/div/div/div/div/div[1]")


#now we have to navigate to exception handling
driver.find_element_by_xpath('//a[@href="/exception-handling-selenium.html"]/strong').click()

In [57]:
#setting the url variable to the link through which we want
url = driver.current_url

#getting the companents of the page to scrape the details
#This is the new url which the current page is and we want it to scrape the currrent page
page = requests.get(url)

#parsing the html data using html parser
soup = BeautifulSoup(page.content, 'html.parser')

#printing the most viewed title of the table
print(soup.title.text)

#creating the empty list for storing the data
container = soup.find_all("table", class_="table table-striped")

#here also i am using pandas read.html method to extract the table 
exception = pd.read_html(str(container))[0]

#and in the table we have one unnecessary row so i removed it to make it readable
new = exception.drop(0, axis = 0)

#there are no column now w will set the those colummns
new.columns = ["Exception_name", "Description"]

#saving the exceptions file in csv file
new.to_csv("exception.csv")

#Displaying the dataframe
new

Selenium Exception Handling (Common Exceptions List)

,Exception_name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [9]:
#getting the information of driver for accesig the driver for automation
driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')

#naviagting to the url
driver.get('http://statisticstimes.com/')

#now we have to navigate to the economy dropdown from there we have to select the state wise GDP of india
#here we need to perform click in order to access the dropdown
driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button').click()

#now from that dropdown we have to select the indian economy 
driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

time.sleep(5)

#now there is a hyper link which leads to another page that contains GDP details of all the states in india
driver.find_element_by_xpath('//a[@href="india/indian-states-gdp.php"]').click()

#setting the url variable to the link through which we want
url = driver.current_url

#getting the companents of the page to scrape the details
#This is the new url which the current page is and we want it to scrape the currrent page
page = requests.get(url)

#parsing the html data using html parser
soup = BeautifulSoup(page.content, 'html.parser')

#printing the most viewed title of the table
print(soup.title.text)

#here we are going to find all the tables using pandas readhtml method
tables = soup.find_all('table')

#here from a group of tables we are extracting 1st table which is GSDP
dfs = pd.read_html(str(tables))[1]

#there is an unwanted row in the dataframe so removing it
df = dfs.drop(33, axis = 0)

#saving the results to csv files for further usage
df.to_csv("statistics.csv")

#displaying the dataframe
df

GDP of Indian states - StatisticsTimes.com

    Rank                      State GSDP (Cr INR at Current prices)           \
    Rank                      State                           19-20    18-19
0    1.0                Maharashtra                               -  2632792
1    2.0                 Tamil Nadu                         1845853  1630208
2    3.0              Uttar Pradesh                         1687818  1584764
3    4.0                    Gujarat                               -  1502899
4    5.0                  Karnataka                         1631977  1493127
5    6.0                West Bengal                         1253832  1089898
6    7.0                  Rajasthan                         1020989   942586
7    8.0             Andhra Pradesh                          972782   862957
8    9.0                  Telangana                          969604   861031
9   10.0             Madhya Pradesh                          906672   809592
10  11.0                     Kerala                               -   781653
11  12.0                      Delhi                          856112   774870
12  13.0                    Haryana                          831610   734163
13  14.0                      Bihar                          611804   530363
14  15.0                     Punjab                          574760   526376
15  16.0                     Odisha                          521275   487805
16  17.0                      Assam                               -   315881
17  18.0               Chhattisgarh                          329180   304063
18  19.0                  Jharkhand                          328598   297204
19  20.0                Uttarakhand                               -   245895
20  21.0            Jammu & Kashmir                               -   155956
21  22.0           Himachal Pradesh                          165472   153845
22  23.0                        Goa                           80449    73170
23  24.0                    Tripura                           55984    49845
24  25.0                 Chandigarh                               -    42114
25  26.0                 Puducherry                           38253    34433
26  27.0                  Meghalaya                           36572    33481
27  28.0                     Sikkim                           32496    28723
28  29.0                    Manipur                           31790    27870
29  30.0                   Nagaland                               -    27283
30  31.0          Arunachal Pradesh                               -    24603
31  32.0                    Mizoram                           26503    22287
32  33.0  Andaman & Nicobar Islands                               -        -

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20    18-19
0   13.94%        399.921                               -  2039074
1    8.63%        247.629                         1312929  1215307
2    8.39%        240.726                         1166817  1123982
3    7.96%        228.290                               -  1186379
4    7.91%        226.806                         1156039  1091077
5    5.77%        165.556                          793223   739525
6    4.99%        143.179                          711627   677428
7    4.57%        131.083                          672018   621301
8    4.56%        130.791                          663258   612828
9    4.29%        122.977                          561801   522009
10   4.14%        118.733                               -   559412
11   4.10%        117.703                          634408   590569
12   3.89%        111.519                          572240   531085
13   2.81%         80.562                          414977   375651
14   2.79%         79.957                          418868   397669
15   2.58%         74.098                          396499   376877
16   1.67%         47.982                               -   234048
17   1.61%         46.187                          243477   231182
18   1.57%         45.145                          240036   224986
19   1.30%         37.351                               -   193273
20   0.83%         23.690                               -   112755
21   0.81%         23.369                          124403   117851
22   0.39%         11.115                           63408    57787
23   0.26%          7.571                           40583    36963
24   0.22%          6.397                               -    31192
25   0.18%          5.230                           25093    23013
26   0.18%          5.086                           26695    24682
27   0.15%          4.363                           20017    18722
28   0.15%          4.233                           20673    19300
29   0.14%          4.144                               -    17647
30   0.13%          3.737                               -    16676
31   0.12%          3.385                           18797    16478
32       -              -                               -        -

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [35]:
#getting the information of driver for accesig the driver for automation
driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')

#naviagting to the url
driver.get('https://www.github.com')

#making the driver wait
time.sleep(5)

In [36]:
#now we ahve to navigate to explore tab and from there to trending
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()

#here we are clicking on the trending tab so that we are goingt other tab
driver.find_element_by_xpath('//a[@href="/trending"]').click()

#setting the current url 
url = driver.current_url

#getting the companents of the page to scrape the details
#This is the new url which the current page is and we want it to scrape the currrent page
page = requests.get(url)

#parsing the html data using html parser
soup = BeautifulSoup(page.content, 'html.parser')

#printing the most viewed title of the table
print(soup.title.text)

Trending  repositories on GitHub today · GitHub

In [96]:
#Creaing empty lists for storing the results
Repo_title = []
Repo_desc = []
contri_count = []
Languages_used = []

#getting description details
desc = soup.find_all("p", class_="col-9 color-text-secondary my-1 pr-4")
for i in desc:
    Repo_desc.append(i.text.replace("\n", "").strip())
    
#getting language details
    
language = soup.find_all("span", class_="d-inline-block ml-0 mr-3")
for i in language:
    Languages_used.append(i.text.replace("\n", "").strip())
    
#getting the title details 
    
title = soup.find_all("span", class_="text-normal")
for i in title[26:]:
    Repo_title.append(i.text.replace("/", '').strip())
    
#getting contribution details
    
contri = soup.find_all('a', class_="Link--muted d-inline-block mr-3")
for i in contri[::2]:
    contri_count.append(i.text.replace("\n", "").strip())

#creating the dataframe for storing the results

details = pd.DataFrame({})
details["Repo_Tiltle"] = Repo_title[:18]
details["Repo_Desc"] = Repo_desc[:18]
details["Contribution"] = contri_count[:18]
details["Languages_used"] = Languages_used[:18]

#saving to csv format

details.to_csv("details.csv")
    
#displaying results
details

,Repo_Tiltle,Repo_Desc,Contribution,Languages_used
0,public-apis,A collective list of free APIs,"129,825",Python
1,escape2020,ESCAPE Summer School 2021,93,Jupyter Notebook
2,facebook,An open-source C++ library developed and used ...,"17,604",C++
3,jhu-ep-coursera,"Example code for HTML, CSS, and Javascript for...","5,835",JavaScript
4,slidevjs,Presentation Slides for Developers (Beta),"13,566",TypeScript
5,TuSimple,A Vue 3 Component Library. Fairly Complete. Cu...,"2,060",TypeScript
6,mattnotmax,A list of cyber-chef recipes and curated links,922,C
7,taosdata,An open-source big data platform designed and ...,"15,268",Jupyter Notebook
8,Charmve,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）,293,Python
9,PaddlePaddle,An NLP library with Awesome pre-trained Transf...,941,Rust
10,peng-zhihui,"Master the command line, in one page",815,C++
11,jlevy,Efficient and minimal collaborative code edito...,"91,199",JavaScript
12,ekzhang,Build cross-platform desktop apps with JavaScr...,"1,149",TypeScript
13,electron,🚀✨ Help beginners to contribute to open source...,"93,761",C
14,firstcontributions,✍ It has never been so easy to document your t...,"19,268",Python
15,KibaeKim,Transacted Hollowing - a PE injection techniqu...,421,Go
16,pedronauck,Create Beautiful Tkinter GUIs by Drag and Drop ☄️,"21,115",Python
17,hasherezade,Terminal based presentation tool,197,TypeScript

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [174]:
#getting the information of driver for accesig the driver for automation
driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')

#naviagting to the url
driver.get('https://www.billboard.com/')

#making the driver wait
time.sleep(5)

#maximizing the window
driver.maximize_window()

#now we ahve to navigate charts and explore to hot100
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a').click()

time.sleep(2)

#here we are clicking on the hot 100
driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a/div[2]').click()

#setting the current url 
url = driver.current_url

#getting the companents of the page to scrape the details
#This is the new url which the current page is and we want it to scrape the currrent page
page = requests.get(url)

#parsing the html data using html parser
soup = BeautifulSoup(page.content, 'html.parser')

#printing the most viewed title of the table
print(soup.title.text)

#creating the empty list for storing the data
Song_name = []
Artist_name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

#getting the name details of the songs
name = soup.find_all('span', class_="chart-element__information__song text--truncate color--primary")
for i in name:
    Song_name.append(i.text)
    
#getting the artistname
artist = soup.find_all('span', class_="chart-element__information__artist text--truncate color--secondary")
for i in artist:
    Artist_name.append(i.text)
    
#gettn ast week peak details   
last = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in last:
    Last_week_rank.append(i.text) 
    
#gathering peak data
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    Peak_rank.append(i.text)
    

#gaathering week data
week = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in week:
    Weeks_on_board.append(i.text)
    
#creating a dataframe with the data we shared
billbord = pd.DataFrame({})
billbord["Song"] = Song_name
billbord["Artist"] = Artist_name
billbord["Last_Week_Rank"] = Last_week_rank
billbord["Peak"] = Peak_rank
billbord["Week_On_Board"] = Weeks_on_board

#saving to csv format
billbord.to_csv("hot100.csv")

#displaying the result
billbord

The Hot 100 Chart | Billboard

,Song,Artist,Last_Week_Rank,Peak,Week_On_Board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [58]:
#getting the information of driver for accesig the driver for automation
driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')

#naviagting to the url
driver.get('https://www.naukri.com/')

#making the driver wait
time.sleep(5)

#maximizing the window
driver.maximize_window()

#now we ahve to navigate charts and explore to hot100
driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a').click()

#creating empty lists for storing details
Name = []
Designation = []
Company = []
Skills_they_hire_for = []
Location = []


#create window handle ids for acesing all tabs that are active
alltabs = driver.window_handles

#now iterate through all tabs to fetch data from the site which we want to and have aces to that
for tab in alltabs:
    driver.switch_to.window(tab)#switching the current tab
    if(driver.current_url == "https://www.naukri.com/hr-recruiters-consultants"): #validating the url
        
        #accessing the search to search for datascience
        driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input').send_keys("Data science")
        
        #now perform click option 
        driver.find_element_by_xpath('//*[@id="qsbFormBtn"]').click()
        
        #get the desired tab url for fetching details 
        url = driver.current_url

        #This is the new url which the current page is and we want it to scrape the currrent page
        page = requests.get(url)

        #parsing the html data using html parser
        soup = BeautifulSoup(page.content, 'html.parser')

        #printing the most viewed title of the table
        print(soup.title.text)
        
        #getting name details
        name = soup.find_all("span", class_="fl ellipsis")
        for i in name:
            Name.append(i.text)
            
        #getting designation details
        desi = soup.find_all('span', class_="ellipsis clr")
        for i in desi:
            Designation.append(i.text)
            
        #getting the company details
        compi = [] #created a dummy list for datastorage
        comp = soup.find_all('a', class_="ellipsis")
        for i in comp:
            compi.append(i.text)
    
        Company = compi[::-1][::2][::-1] 
        #appending the comany details actually it has mixture with some other values
        #so applied indexing to get accurate details
        
        #getting location details
        try:
            locat = soup.find_all("small", class_="ellipsis")
            for i in locat:
                Location.append(i.text)
        except:
            Location.append("---")
            
        #fetch skills they hire for
        skill = soup.find_all('div', class_="hireSec highlightable")
        for i in skill:
            Skills_they_hire_for.append(i.text)
        
            
#creating a dataframe to store results        
naukari = pd.DataFrame({})
naukari["Name"] = Name[:48]
naukari["Designation"] = Designation[:48]
naukari["Company"] = Company[:48]
naukari["Skills_they_hire_for"] = Skills_they_hire_for[:48]
naukari["Location"] = Location[:48]

#save the dataframe to csv file
naukari.to_csv("naukari.csv")

#displaying the results
naukari

 Data science Recruiters - Data science Placement Consultants - Naukri.com

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketin...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Admi...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, ...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, m...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Dat...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Busi...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Gette...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Accoun...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Arch...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing,...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure,...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, ...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Da...",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marke...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, ...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine ...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, ...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Int...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastr...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, ...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, ...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, N...",Delhi
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, ...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, ...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, ...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Da...",Bengaluru / Bangalore
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machi...",Noida
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Te...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligenc...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Pyt...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, ...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digi...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, An...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intellige...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resourc...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science,...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, ...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit ...",Noida
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Produc...",Mumbai

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [9]:
#This is the new url which the current page is and we want it to scrape the currrent page
page = requests.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

#parsing the html data using html parser
soup = BeautifulSoup(page.content, 'html.parser')

#printing the most viewed title of the table
print(soup.title.text)

#i am using soup variable tat we stored entire html file and i am searching tables from it
table = soup.find_all('table')

#now iam using pd.readhtml method from pandas to extract tables, only this methods supprots tabular data only
df = pd.read_html(str(table))[0]

#dropping 100 th row as there is no use with this
book_data = df.drop(100, axis = 0)

#setting the rank as index
new = book_data.set_index("Rank")

#displaying the results 
new

 The top 100 bestselling books of all time: how does Fifty Shades of Grey compare? | News | theguardian.com

,Title,Author,Volume Sales,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert",807311,Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [110]:
#getting the information of driver for accesig the driver for automation
driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')

#naviagting to the url
driver.get('https://www.imdb.com/list/ls095964455/')

#making the driver wait
time.sleep(5)

#maximizing the window
driver.maximize_window()

#This is the new url which the current page is and we want it to scrape the currrent page
page = requests.get('https://www.imdb.com/list/ls095964455/')

#parsing the html data using html parser
soup = BeautifulSoup(page.content, 'html.parser')

#printing the most viewed title of the table
print(soup.title.text)

#list t ostore the data
movie_name = []
year = []
genre = []
runtime = []
IMDB_rating = [] #empty list
votes = []

#gathering the movie name and year
list1 = soup.find_all('h3', class_="lister-item-header")
for i in list1:
    for j in i.find_all("a"):
        movie_name.append(j.text)
        
    for k in i.find_all("span", class_="lister-item-year text-muted unbold"):
        year.append(j.text.replace("(", '').replace(")", ''))

#gathering the length and genre
length = soup.find_all("p", class_="text-muted text-small")
for i in length:
    for j in i.find_all("span", class_="runtime"):
        runtime.append(j.text)
        
    for k in i.find_all("span", class_="genre"):
        genre.append(k.text)

# IMDB Rating
rating = soup.find_all("div",class_="ipl-rating-star small")

# scrape text from rating web element
for i in rating:
      IMDB_rating.append(float(i.text))
        
voti = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in voti:
    votes.append(i.text)
    
#creating the dataframe to store the result    
series = pd.DataFrame({})
series["Show"] = movie_name
series["Year"] = year
series["Genre"] = genre
series["Runtime"] = runtime
series["Rating"] = IMDB_rating
series["Votes"] = votes

#saving to csv file
series.to_csv("series.csv")

#displaying the result
series

Top 100 most watched tv shows of all time - IMDb

,Show,Year,Genre,Runtime,Rating,Votes
0,Game of Thrones,Game of Thrones,"\nAction, Adventure, Drama",57 min,9.3,"1,820,550"
1,Stranger Things,Stranger Things,"\nDrama, Fantasy, Horror",51 min,8.7,"861,938"
2,The Walking Dead,The Walking Dead,"\nDrama, Horror, Thriller",44 min,8.2,"873,613"
3,13 Reasons Why,13 Reasons Why,"\nDrama, Mystery, Thriller",60 min,7.6,"262,376"
4,The 100,The 100,"\nDrama, Mystery, Sci-Fi",43 min,7.6,"223,666"
...,...,...,...,...,...,...
95,Reign,Reign,"\nDrama, Fantasy",42 min,7.5,"44,523"
96,A Series of Unfortunate Events,A Series of Unfortunate Events,"\nAdventure, Comedy, Drama",50 min,7.8,"55,008"
97,Criminal Minds,Criminal Minds,"\nCrime, Drama, Mystery",42 min,8.0,"167,309"
98,Scream: The TV Series,Scream: The TV Series,"\nComedy, Crime, Drama",45 min,7.1,"34,843"
99,The Haunting of Hill House,The Haunting of Hill House,"\nDrama, Horror, Mystery",572 min,8.6,"191,027"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [132]:
#getting the information of driver for accesig the driver for automation
driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')

#naviagting to the url
driver.get('https://archive.ics.uci.edu/')

#making the driver wait
time.sleep(5)

#maximizing the window
driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]").click()

#setting the current url 
url = driver.current_url

#getting the companents of the page to scrape the details
#This is the new url which the current page is and we want it to scrape the currrent page
page = requests.get(url)

#parsing the html data using html parser
soup = BeautifulSoup(page.content, 'html.parser')

#printing the most viewed title of the table
print(soup.title.text)

#lest scrape the data
table= soup.find_all('table')

#lest scrape the data
table= soup.find_all('table', cellpadding="5")

#We are using read_htmlmethd in pandas tosore the data
dfs = pd.read_html(str(table))[0]

#We dont need 1 st row so dropping it
data = dfs.drop(0, axis = 0)

#setting the columns names
data.columns = ["Name", "Data_Types", "Default_Task", "Attribute_Types",  "Instances", "Attributes", "Year"]

#Displaying the data
data

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

UCI Machine Learning Repository: Data Sets

,Name,Data_Types,Default_Task,Attribute_Types,Instances,Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
4,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,NaN,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021