# Web scraping assignment 2

# Q1:

Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
   in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time


def naukarijob(url):
    #at first lets check the requests of the site, if we get responce of 200 then we have to scrap
    request = requests.get(url)
    print("The reponse is :", request)

    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    driver.get(url)
    time.sleep(3)

    #now we have to search the job description and location to search the data
    #there are two search boxes at the starting page
    jobdescription = driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Analyst")

    #i have used find element and searched the element by id and used send_keys method for entering text into the search

    locationinfo = driver.find_element_by_id("qsb-location-sugg").send_keys("Bangalore")

    #here i am searching for jobsin bangalore location
    #and at last i am going to click on search button

    button = driver.find_element_by_xpath("//button[@class='btn']")
    button.click()
    driver.maximize_window()

    #now lets scrap some detais by like job location, experience and others 
    time.sleep(3)
    
    #creating lists for storing the results
    roles_list = []
    comapny_list = []
    location_list = []
    exp_list = []
    
    #here lets start with the titles block here i am using xpath to find webelemunts to fetch job titles pf that page
    #as we can see i have using slicling methd in the for loop to fetch only 10 values 
    # i have used exception handling so that we can execute the code easily with out any errors or exceptions
    
    time.sleep(3)
    
    
    try:
        titles = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
        for title in titles[:10]:
            roles_list.append(title.text)
    except NoSuchElementException:
        pass

    # this is the blockfor comapny details, here  also i have used xpath for fetching

    try:
        company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
        for com in company[:10]:
            comapny_list.append(com.text)
    except NoSuchElementException:
        pass

    #this is the block for location data

    try:
        location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
        for loc in location[:10]:
            location_list.append(loc.text)
    except NoSuchElementException:
        pass


    #this is the block for experience data 

    try:
        experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
        for exp in experience[:10]:
            exp_list.append(exp.text)
    except NoSuchElementException:
        pass
    
    #now letscreatea dataframeand store those results in that dataframe so that we can use them for later use
    
    naukari_job1=pd.DataFrame({})
         
    naukari_job1['Role_name']=roles_list

    naukari_job1['Company_name']=comapny_list

    naukari_job1['Location']=location_list
    
    naukari_job1['Experience']=exp_list
    
    return naukari_job1

    #saving it to csv file
    
    naukari_job1.to_csv('naukari_job1.csv')
    

#calling the function    
naukarijob("https://www.naukri.com/")

The reponse is : <Response [200]>

,Role_name,Company_name,Location,Experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs
2,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,"Mumbai, Bangalore/Bengaluru",12-18 Yrs
3,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
4,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
5,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-9 Yrs
6,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
7,Data Analyst,SA Tech Software (I) Pvt. Ltd.,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",1-3 Yrs
8,Data analyst - Google Analytics,H and M Hennes and Mauritz (P) Ltd.,Bangalore/Bengaluru,4-7 Yrs
9,Senior/Regular Business Analyst / Data Analyst,Luxoft,Bangalore/Bengaluru,3-6 Yrs

# Q2:

Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- 1. All of the above steps have to be done in code. No step is to be done
manually.
2.Please note that you have to scrape full job description. For that you may have to
open each job separately as shown below

In [2]:
#importing necessary modules
import pandas as pd
import requests
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time

def naukarijob2(url):
    
    #Every time before scraping we have to check the responce from website if it is 200 we can scrap any data
    request = requests.get(url)
    print("The reponse is :", request)

    #lets get the the chrome driver file stored in system so that we can acess the browser

    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    driver.get(url)
    time.sleep(5)

    #now we have to search the job description and location to search the data
    #there are two search boxes at the starting page
    jobdescription = driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Scientist")

    #i have used find element and searched the element by id and used send_keys method for entering text into the search

    locationinfo = driver.find_element_by_id("qsb-location-sugg").send_keys("Bangalore")

    #here i am searching for jobsin bangalore location
    #and at last i am going to click on search button

    button = driver.find_element_by_xpath("//button[@class='btn']")
    button.click()
    driver.maximize_window()
    driver.implicitly_wait(10)

    #now we have to scrap details like jobtitle, description , location etc
    
    #creating lists for storing results 
    job_title = []
    job_location = []
    company_name = []
    description = []
    
    #getting location data
    
    try:
        location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
        for loc in location[:10]:
            job_location.append(loc.text)
    except NoSuchElementException:
        pass
    
    #getting hyperlinks of each job so that we can can iterate to each link and can collect the data


    urls = []
    for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        urls.append(i.get_attribute('href'))
        
    
    #setting for loop so that we can loop through each of the link and collets the data
    
    for ii in urls[:10]:
        driver.get(ii)
        time.sleep(3)
        #fetching job_titles
        try:
            job = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
            job_title.append(job.text)
        except NoSuchElementException:
            job_title.append("-")
        
    #fetching description
        
        try:
            job_desc = driver.find_element_by_xpath("//section[@class='job-desc']")
            description.append(job_desc.text)
        except NoSuchElementException:
            description.append("-")
        
    #fetching company name
             
        try:
            company = driver.find_element_by_xpath("//div[@class='jd-header-comp-name']/a")
            company_name.append(company.text)
        except NoSuchElementException:
            company_name.append("-")
            
    #lets create a dataframe to store resullts  
    
    naukari_jobs2 = pd.DataFrame({})
    
    naukari_jobs2["Title"] = job_title
    
    naukari_jobs2["Comapny"]= company_name
    
    naukari_jobs2["Location"] = job_location
    
    naukari_jobs2["Description"]  = description
    

    return naukari_jobs2

    #saving it to csv file for later use
    naukari_jobs2.to_csv("naukari_jobs2.csv")

#calling function         
naukarijob2("https://www.naukri.com/")

The reponse is : <Response [200]>

,Title,Comapny,Location,Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job description\nJob Role : Data Scientist/Dat...
1,"Senior Data Scientist, Modeling",Nielsen,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Job description\nWe wont say we can predict th...
2,-,-,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",-
3,Specialist I - Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description\nResponsibilities and Key Resu...
4,Lead Data Scientist,Intel Technology India Pvt Ltd,Bangalore/Bengaluru,Job description\n\n\nWe are seeking an outstan...
5,-,-,Bangalore/Bengaluru,-
6,-,-,Bangalore/Bengaluru,-
7,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description\nBusiness & Team overview:\nFo...
8,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Job description\nBusiness & Team overview:\nFo...
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...","Job description\nDear Aspirant,\n\nGreetings f..."

# Q3:

In this question you have to scrape data using the filters available on the
webpage as shown below:
    You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [3]:
#importing necessary modules
import pandas as pd
import requests
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time

def job3(url):

    #Every time before scraping we have to check the responce from website if it is 200 we can scrap any data
    request = requests.get(url)
    print("The reponse is :", request)

    #lets get the the chrome driver file stored in system so that we can acess the browser

    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    driver.get(url)
    time.sleep(5)

    #now we have to search the job description and location to search the data
    #there are two search boxes at the starting page
    jobdescription = driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Scientist")

    #here i am searching for jobsin bangalore location
    #and at last i am going to click on search button

    button = driver.find_element_by_xpath("//button[@class='btn']")
    button.click()
    driver.maximize_window()
    driver.implicitly_wait(10)

    #now we have to click the checkboxes as per the problem statement the location filter is "Delhi" and salary is 3-6 lakh
    #this is checkbox of location


    try:
        filter1 = driver.find_element_by_xpath("//span[@class='ellipsis fleft'][contains(text(),'Delhi / NCR')]").click()
    except ElementNotInteractableException:
        print("not accesable")


    #now lets create another filter for salary


    try:
        filter2 = driver.find_element_by_xpath("//span[contains(text(),'3-6 Lakhs')]").click()
    except ElementNotInteractableException:
        print("mot accessable")


    #actually .click() method used to click on the data, and we are done with filtering now lets start scraping results
    #creating lists for storin data

    job_title = []
    job_location  = []
    company_name = []
    experience_list = []

    #here lets start with the titles block here i am using xpath to find webelemunts to fetch job titles pf that page
    #as we can see i have using slicling methd in the for loop to fetch only 10 values 
    # i have used exception handling so that we can execute the code easily with out any errors or exceptions
    try:
        titles = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
        for title in titles[:10]:
            job_title.append(title.text)
    except NoSuchElementException:
        pass

    # this is the blockfor comapny details, here  also i have used xpath for fetching

    try:
        company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
        for com in company[:10]:
            company_name.append(com.text)
    except NoSuchElementException:
        pass

    #this is the block for location data

    try:
        location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
        for loc in location[:10]:
            job_location.append(loc.text)
    except NoSuchElementException:
        pass

    #this is the block for experience data 

    try:
        experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
        for exp in experience[:10]:
            experience_list.append(exp.text)
    except NoSuchElementException:
        pass
    
    #we have got all the required data lets create a datafrme so thet we can save the file in csv or json format

    naukari_jobs3 = pd.DataFrame({})
    
    naukari_jobs3["Title"] = job_title
        
    naukari_jobs3["Company"] = company_name
        
    naukari_jobs3["Location"] = job_location
        
    naukari_jobs3["Experience"] = experience_list
        
    return naukari_jobs3

#calling the function
job3("https://www.naukri.com/")

The reponse is : <Response [200]>

,Title,Company,Location,Experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Business Analyst- Data Scientist,Wipro,"Noida, Gurgaon/Gurugram",2-5 Yrs
2,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-5 Yrs
3,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",4-9 Yrs
4,Data Scientist,Mobikwik,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",3-5 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
6,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
7,Data Scientist - Noida,Optum Global Solutions (India) Private Limited,Noida,3-5 Yrs
8,Data Scientist,Blitz Jobs,Noida,3-5 Yrs
9,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs

# Q4:

Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [5]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time


def jobs3(url):
    #first lets get the responce from the website weather we can scrap or not so lets start
    response = requests.get(url)


    #getting the driver details 
    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    driver.get(url)
    time.sleep(3)
    driver.maximize_window()

    #Now lets we have to search for the role Data scientish and location noida and send_keys method sends the details to the textbox
    job_title = driver.find_element_by_id("KeywordSearch").send_keys("Data Scientist")

    #now lets search enter the location we want to enter
    job_loc = driver.find_element_by_id("LocationSearch").send_keys("Noida")

    #now click on the search button

    button = driver.find_element_by_id("HeroSearchButton").click() #click() methods used to click the button
    
    time.sleep(3)
    #lets start scraping the data
    #creating the lists to store results 
    company_name = []
    jobposted_days = []
    ratings = []
    
    #fetching comany name
    
    try:
        name = driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')
        for i in name:
            company_name.append(i.text)
            
    except NoSuchElementException:
        company_name.append('-')
        
    #fetching jobposted days
        
    try:
        day = driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
        for i in day:
            jobposted_days.append(i.text)
            
    except NoSuchElementException:
        jobposted_days.append('-')
        
    
    #fetching ratings
    
    try:
        rating = driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
        for i in rating:
            ratings.append(i.text)
            
    except NoSuchElementException:
        ratings.appemd("-")
        
    #lets create a dataframe so that we can store the data
        
    new_job=pd.DataFrame({})

    new_job['Name']=company_name[:10]

    new_job['Jobdays']=jobposted_days[:10]

    new_job['Rating']=ratings[:10]

    return new_job

    #saving into csv file
    
    new_job.to_csv('new_job.csv') 
    

#calling the function

jobs3("https://www.glassdoor.co.in/Job/index.htm")

                       Name Jobdays Rating
0                   Bechtel     17d    4.0
1        UnitedHealth Group     24h    3.6
2                  Ericsson     15d    4.1
3  Lantern Digital Services      8d    4.1
4   Boston Consulting Group      1d    3.7
5                  Sparkbpl     14d    3.8
6           Priority Vendor     14d    3.1
7            Biz2Credit Inc     23d    5.0
8                  xtLytics     24h    3.8
9          Mansha Solutions     10d    4.1

# Q5:

Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [6]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time


def jobsalaries(url):
    
    #first lets get the responce from the website weather we can scrap or not so lets start
    response = requests.get(url)


    #getting the driver details 
    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    
    driver.get(url)
    
    time.sleep(3)
    
    driver.maximize_window()

    
    #Now lets we have to search for the role Data scientish and location noida and send_keys method sends the details to the textbox
    job_title = driver.find_element_by_id("KeywordSearch").send_keys("Data Scientist")

    #now lets search enter the location we want to enter
    job_loc = driver.find_element_by_id("LocationSearch").send_keys("Noida")

    #now click on the search button

    button = driver.find_element_by_id("HeroSearchButton").click() #click() methods used to click the button
    
    #lets start with fetching company details
    #lets create some lists 
    company_name = []
    average_slalary = []
    max_slalry = []
    min_salary = []
    
    time.sleep(3)
    
    #getting comany name, average salary and more detailas
    
    avg = driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')
    for i in avg:
        average_slalary.append(i.text.replace("\n", ""))
        
    name = driver.find_elements_by_xpath('//p[2]')
    for i in name[2:]:
        company_name.append(i.text)
        
    maxi = driver.find_elements_by_xpath('//div/span[2]')
    for i in maxi[5:25]:
        max_slalry.append(i.text.replace('[]', ''))
        
        
    mini = driver.find_elements_by_xpath("//div/span[1]")
    for i in mini[64:83]:
        min_salary.append(i.text.replace('[]', ''))
        
    #creating dataframe for storing results
    
    new_job1=pd.DataFrame({})
         
    new_job1['Comapany_name']=company_name[:10]

    new_job1['Average_salary']=average_slalary[:10]

    new_job1['Minimum_salary']=min_salary[:10]
    
    new_job1['Maximum_salary']=max_slalry[:10]
    return new_job1
    #saving in a csv file
    new_job1.to_csv('new_job1.csv')

#calling the function
jobsalaries("https://www.glassdoor.co.in/Salaries/index.htm")

               Comapany_name  Average_salary Minimum_salary Maximum_salary
0  Tata Consultancy Services   ₹ 6,14,306/yr          ₹577K        ₹1,250K
1                  Accenture  ₹ 11,46,533/yr          ₹586K        ₹2,213K
2                        IBM   ₹ 8,97,795/yr          ₹355K        ₹2,730K
3         Ericsson-Worldwide   ₹ 7,38,057/yr          ₹450K        ₹1,613K
4                  Delhivery  ₹ 12,39,781/yr        ₹1,069K       ₹11,622K
5         UnitedHealth Group  ₹ 13,36,142/yr          ₹502K        ₹1,520K
6         Valiance Solutions   ₹ 8,15,192/yr          ₹202K        ₹1,465K
7              ZS Associates  ₹ 11,35,221/yr          ₹575K        ₹1,809K
8                EXL Service  ₹ 11,44,243/yr        ₹1,014K        ₹1,520K
9     Optum Global Solutions  ₹ 14,13,288/yr          ₹620K        ₹2,149K

# Q6 :

Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [7]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time

def sunglasses(url):
    
    #getting the driver in the system

    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')

    driver.get(url)
    
    #canceling the login popup

    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

    time.sleep(3)
    
    #entering the item that need to search and the click on the button so that we will be navigate to that page

    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sunglasses')

    driver.find_element_by_xpath('//button[@type="submit"]').click()
    

    time.sleep(3)
    
    #creating emptylists for storing data for creating data frame

    brand_name=[]

    prod_desc=[]

    prod_price=[]

    prod_disc=[]
    
    #we have to grab 100 sunglasses so we are going to creating aloop to visit each page  and and collect the data
    # data like brand proce and discount, and later sore them in a dataframe
    
    j=0

    while j<3:

        time.sleep(3)

        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

        for brand in brands:

            brand_name.append(brand.text)

        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')

        for description in descriptions:

            prod_desc.append(description.text)

        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

        for price in prices:

            prod_price.append(price.text)

        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

        for discount in discounts:

            prod_disc.append(discount.text)

        if j==0:

            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()

        elif j==1:

            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()

        else:

            pass

        j+=1
        
    #creating datafram to store the data

    sneakers=pd.DataFrame({})

    sneakers['Brand']=brand_name[:100]

    sneakers['Prod_Desc']=prod_desc[:100]

    sneakers['Prod_Price']=prod_price[:100]

    sneakers['Prod_Disc']=prod_disc[:100]

    return sneakers

    sneakers.to_csv('sneakers.csv')
    
#saving the file in csv format
sunglasses("https://www.flipkart.com/")

,Brand,Prod_Desc,Prod_Price,Prod_Disc
0,Badfella,"Gradient, UV Protection Retro Square Sunglasse...",₹349,65% off
1,IZAAN MART,"Mirrored, UV Protection, Riding Glasses Rectan...",₹553,73% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
4,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
...,...,...,...,...
95,GANSTA,"UV Protection, Mirrored, Gradient Wayfarer Sun...",₹281,85% off
96,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹777,22% off
97,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,83% off
98,Singco India,"Riding Glasses, UV Protection, Others Aviator ...",₹239,84% off
99,AISLIN,UV Protection Aviator Sunglasses (66),₹938,74% off

# Q7:

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-
earpods-power-
adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [1]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time

def reviews(url):
    
    #first lets get the responce from the website weather we can scrap or not so lets start
    response = requests.get(url)
    
    print(response)
    
    #getting the driver details 
    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    
    #getting the url
    
    driver.get(url)
    
    driver.maximize_window()
    
    driver.refresh()
    
    #clicking on all reviews button so that we can grab the data
    
    click = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]').click()
    
    time.sleep(3)
    
    rating_list = []
    
    review_list = []
    
    summary_list = []
    
    #here we have to collect 100 reviews so we have to loop throuh all pages so that we can collect the review
    #basically review data containd review, rating, and description
    #here is the loop where iam going to traverse each page and collects the data
    j = 0
    
    while j < 12:
        
        driver.refresh() #it helps to avoid stale exception in the data
        
        try:
            
            rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        
            for ii in rating:
            
                rating_list.append(ii.text)
                
        except NoSuchElementException:
            
            pass
        
        try:
            
            review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
            
            for jj in review:
                
                review_list.append(jj.text)
                
        except NoSuchElementException:
            
            pass
        
        try:
            
            summary = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")
            
            for kk in summary:
                
                summary_list.append(kk.text)
                
        except NoSuchElementException:
            
            pass
        
        if j == 0:
            
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
            
        elif j == 1:
            
            driver.find_element_by_xpath('//a[@class="ge-49M"]').click()
            
        else:
            
            pass
        
        j+=1
        
    #creating dataframe for storing data
    
    filpkart_reviews = pd.DataFrame({})
    
    filpkart_reviews['Rating']=rating_list[:100]

    filpkart_reviews['Review']=review_list[:100]

    filpkart_reviews["summary"]=summary_list[:100]

    return filpkart_reviews

    filpkart_reviews.to_csv('filpkart_reviews.csv')
    
            
#CALLING THE FUNCTION WITH URL        
reviews("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")

<Response [200]>

WebDriverException: Message: unknown error: Chrome failed to start: exited abnormally.
  (unknown error: DevToolsActivePort file doesn't exist)
  (The process started from chrome location /usr/bin/google-chrome is no longer running, so ChromeDriver is assuming that Chrome has crashed.)

# Q8:

Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code
only and not manually.

In [1]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time

def sneakers(url):
    
    #getting chrome driver 

    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    
    #finding url

    driver.get(url)
    
    #canceling the login popup

    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

    time.sleep(3)
    
    #we have to search sneakes so we have to enter sneakers in the search buttom and the press click

    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')

    driver.find_element_by_xpath('//button[@type="submit"]').click()

    time.sleep(3)
    
    #creating the empty list so that w have to gram the data and store in it

    brand_name=[]

    prod_desc=[]

    prod_price=[]

    prod_disc=[]
    
    #here we have to collect 100 sneakers so we have to loop throuh all pages so that we can collect the review
    #basically review data containd review, rating, and description
    #here is the loop where iam going to traverse each page and collects the data

    j=0

    while j<3:

        time.sleep(3)

        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

        for brand in brands:

            brand_name.append(brand.text)

        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')

        for description in descriptions:

            prod_desc.append(description.text)

        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

        for price in prices:

            prod_price.append(price.text)

        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

        for discount in discounts:

            prod_disc.append(discount.text)

        if j==0:

            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()

        elif j==1:

            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()

        else:

            pass

        j+=1
        
    #creating a dataframe so we can stor the data

    sneakers=pd.DataFrame({})

    sneakers['Brand']=brand_name[:100]

    sneakers['Prod_Desc']=prod_desc[:100]

    sneakers['Prod_Price']=prod_price[:100]

    sneakers['Prod_Disc']=prod_disc[:100]

    return sneakers

    sneakers.to_csv('sneakers.csv')
    
#calling the functions     
sneakers("https://www.flipkart.com/")

,Brand,Prod_Desc,Prod_Price,Prod_Disc
0,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
1,Robbie jones,Sneakers For Men,₹474,52% off
2,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹349,65% off
3,Stefano Rads,Classy Sneakers For Men,₹229,67% off
4,bluemaker,casual for men (blue 06) Sneakers For Men,₹449,55% off
...,...,...,...,...
95,Englewood,Sneakers For Men,₹499,33% off
96,PUMA,X-Ray 2 Square PACK Sneakers For Men,"₹2,939",57% off
97,HOCKWOOD,Street Smart Sneakers For Men,₹664,60% off
98,bacca bucci,Men's Ultraforce Mid-top Athletic-Inspired Ret...,"₹1,051",59% off
99,LoveHush,Men's Denim Casual Sneakers Jeans Shoes Sneake...,₹399,25% off

# Q9:

Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below image
nd then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be
done through code only and there should not be any manual step.

In [10]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time

def shoes(url):
    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    
    #getting the url
    
    driver.get(url)
    
    driver.maximize_window()
    
    #Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,
    
    filter1 = driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label").click()
    
    time.sleep(3)
    
    filter2 = driver.find_element_by_xpath("//li[@class][1]/label").click()
    
    time.sleep(3)
    
    #creating an empty list for storing results
    
    product_name = []
    
    product_desc = []
    
    product_price = []
    
    #here we have to collect 100 sneakers so we have to loop throuh all pages so that we can collect the review
    #basically review data containd review, rating, and description and brand etc
    #here is the loop where iam going to traverse each page and collects the data
    
    
    j = 0
    
    while j < 3:
        
        time.sleep(3)
        
        brands=driver.find_elements_by_xpath("//h3[@class='product-brand']")

        for brand in brands:

            product_name.append(brand.text)
            
        
        descriptions=driver.find_elements_by_xpath("//h4[@class='product-product']")

        for description in descriptions:

            product_desc.append(description.text)
            
        
        
        price = driver.find_elements_by_xpath("//div[@class='product-price']")
        
        for pr in price:
            
            product_price.append(pr.text)
        
        if j == 0:
            
            driver.find_element_by_xpath("//li[@class='pagination-next']").click()
            
        elif j ==1:
            
            driver.find_element_by_xpath("//li[@class='pagination-active']").click()
            
        else:
            
            pass
        j+=1
    
    #creating the datafram to store the results
    
    shoes = pd.DataFrame({})
    
    shoes["Brand"] = product_name[:100]
    
    shoes["Name"] = product_desc[:100]
    
    shoes["Price"] = product_price[:100]
    
    return shoes

    shoes.to_csv("shoes.csv") 
    
#calling the function
shoes("https://www.myntra.com/shoes?")

,Brand,Name,Price
0,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
1,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
2,Nike,Men React Infinity Running,Rs. 11621Rs. 15495(25% OFF)
3,Nike,Women PEGASUS 37 Running Shoes,Rs. 7496Rs. 9995(25% OFF)
4,Nike,Men JORDAN DELTA Basketball,Rs. 12495
...,...,...,...
95,Geox,Men Leather Formal Derbys,Rs. 11490
96,Nike,Men REACT MILER 2 Running,Rs. 9770Rs. 11495(15% OFF)
97,UNDER ARMOUR,Charged RC Sportstyle Sneakers,Rs. 8999
98,Geox,Men Leather Formal Slip-Ons,Rs. 11242Rs. 14990(25% OFF)
99,Ruosh,Men Solid Leather Formal Slip-Ons,Rs. 6990

# Q10:

Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [11]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time

def laptop(url):
    
    #getting the driver details 
    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    
    driver.get(url)
    
    driver.maximize_window()
    
    time.sleep(3)
    
    try:
        search = driver.find_element_by_id('twotabsearchtextbox').send_keys("Laptop")
    except ElementNotInteractableException:
        print("not accesable")
        
        
        
    try:
        searchbtn = driver.find_element_by_id('nav-search-submit-button').click()
    except ElementNotInteractableException:
        print("not accesable")
    
    
    time.sleep(3)
    
    
    
    #setting the filters
    try:
        filter1 = driver.find_element_by_xpath("//span[contains(text(),'Intel Core i7')]").click()
    except NoSuchElementException:
        pass
    
    
    time.sleep(3)
    
    
    urls = []
    url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
    for i in url:
        urls.append(i.get_attribute('href'))
        
        
    title_list = []
    price_list = []
    rating_list = []
    
    #feting the details like title, price and rating
    
    for i in urls[:20]:
        driver.get(i)
        time.sleep(4)
        try:
            title = driver.find_elements_by_id("productTitle")
            for i in title:
                title_list.append(i.text)
        except NoSuchElementException:
            title_list.append('-')
    
        try:
            price = driver.find_elements_by_xpath("//span[@id='priceblock_ourprice']")
            for i in price:
                price_list.append(i.text)
        except NoSuchElementException:
            price_list.append('-')
        
        try:
            rating = driver.find_elements_by_xpath("//div[5]/div/span[3]/a/span")
            for i in rating:
                rating_list.append(i.text)
        except NoSuchElementException:
            rating_list.append('-')
            
    #creating a dataframe        
            
    laptops = pd.DataFrame({})
    
    laptops["Brand"] = title_list[:10]
    
    laptops["Name"] = price_list[:10]
    
    laptops["Price"] = rating_list[:10]
    
    return laptops

    laptops.to_csv("laptops.csv")  
 


 #calling the function

laptop("https://www.amazon.in")

                                               Brand         Name        Price
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i3 1...  ₹ 50,792.00   51 ratings
1  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  ₹ 68,990.00  115 ratings
2  HP 15 Entry Level 15.6-inch (39.62 cms) HD Lap...  ₹ 23,990.00  596 ratings
3  AVITA Essential NE14A2INC433-MB 14" (35.56cms)...  ₹ 18,990.00  573 ratings
4  ASUS VivoBook 14 (2020) Intel Quad Core Pentiu...  ₹ 24,990.00   68 ratings
5  Lenovo ThinkPad E14 Intel Core i5 10th Gen 14-...  ₹ 65,047.00  349 ratings
6  Acer Aspire 3 Intel Core i5-10th Gen 15.6" (39...  ₹ 42,900.00  223 ratings
7  DELL Inspiron 3493 14" (35.56cms) FHD Thin & L...  ₹ 27,990.00  524 ratings
8  Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...  ₹ 27,490.00  170 ratings
9  Lenovo Ideapad S145 AMD Ryzen 3 3200U 15.6 inc...  ₹ 26,999.00  114 ratings